.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
*.dll
*.exe
*.pdb
*.cache
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets
TestResults/
[Tt]est[Rr]esult*/
*.trx
coverage/
coverage.opencover.xml
*.coverage
*.coveragexml
*.log
logs/
.env
.env.*